body{
    background: linear-gradient(purple 35%, aqua 100%);
    text-align: center;
}

img{
    width: 200px;
    height: 250px;
    padding-left: 300px; 
    padding-right: 300px;
}
.line{
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px;
    text-align: center;
}
.menu{
    float: right;
    font-family: 'WindSong';
    top: 10px;
    right: 30px;
    z-index: 10px; 
    list-style: none;
    font-size: 30px;
    
}

.links{
    float: left;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 30px;
}

.link: hover{
    background-color: purple;
}
.profile{
    width: 500px;
    margin-bottom: 50px;
}

h1{
    font-style: 'WindSong';
    font-size: 30px;
}

p{
    font-style: 'WindSong';
    font-size: 30px;
}
 
#info{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    padding: 500px;
}
#images{
    text-align: center;
}

#contact{
    padding-top: 955px;
    font-size: 30px;
}

img:hover{
    transform: scale(0.9);
}